@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}
:root{
    --text-color: #000 ;
    --main-color: #448d3d00;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background:  #7e7a7a;

}
.logo{
    font-size: 2rem;
    font-weight: 600;
    color:#1808fd;
}
.logo span{
    color: var(--main-color);

}
.navbar{
    position: relative;
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);

}